<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chatApp-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>chatApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CCE09111E4B5E3F007A121E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE0209A1E2EC8F2001D696B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE020AE1E2EC8F2001D696B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE020B91E2EC8F2001D696B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
